<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">Created by <a target="_blank" href="http://www.linkedin.com/in/or-perlman">Or Perlman</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted">Based on the <a target="_blank" href="https://github.com/MarlabsInc/webapi-angularjs-spa">WebAPI SPA</a> and <a target="_blank" href="http://bitoftech.net/2014/06/01/token-based-authentication-asp-net-web-api-2-owin-asp-net-identity/">Token Based Authentication</a> projects</p>
            </div>
        </div>
    </div>
</div>